canvas {
    border: 1px solid black
}
[im="flipped"]{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
body {
    overflow:hidden;
}
